* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "League Gothic", sans-serif;
}

body {
  background-color: rgb(229, 229, 102);
  font-family: "League Gothic";
}

p {
  color: black;
}

a {
  color: rgb(44, 44, 167);
  text-decoration: none;
}

h1 {
  color: rgb(120, 115, 115);
  text-align: center;
}

.wrapper {
  text-align: center;
}

li {
  list-style-type: none;
}

.map {
  width: 80%;
  height: 80%;
  border-radius: 2%;
}

.navbar {
  background-color: rgb(34, 44, 190);
}
